---
export interface Props {
    text: string;
}

const { text } = Astro.props;
---

<div class="flex gap-2 items-center">
    <hr class="w-8 border-slate-700 border-b-2" />
    <p class="text-sm text-slate-600">{text}</p>
</div>
