@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Glamour";
    src: url("../GlamourAbsolute_Regular.otf");
}

@font-face {
    font-family: "ApercuPro";
    font-weight: 400;
    src: url("../ApercuPro-Regular.ttf");
    src: url("../ApercuPro-Regular.woff");
    src: url("../ApercuPro-Regular.woff2");
}
@font-face {
    font-family: "ApercuPro";
    font-weight: 700;
    src: url("../ApercuPro-Bold.ttf");
    src: url("../ApercuPro-Bold.woff");
    src: url("../ApercuPro-Bold.woff2");
}

h1,
h2,
h3 {
    @apply font-glamour text-white;
}

h1 {
    @apply text-4xl;
}

h2 {
    @apply text-3xl;
}

h3 {
    @apply text-xl;
}

h4 {
    @apply text-slate-400 text-sm uppercase tracking-widest font-bold;
}

hr {
    @apply inline-block w-full border-slate-700 border-b-2 border-t-0;
}

.anchor {
    @apply underline underline-offset-4 transition-all ease-in-out;
}

.anchor:hover {
    @apply opacity-80 transition-all ease-in-out underline-offset-2;
}

.card-dark {
    @apply bg-slate-900 p-8 flex flex-col gap-6;
}

.card-outline {
    @apply border-2 border-slate-700 p-8;
}

label {
    @apply flex flex-col gap-2;
}

input,
textarea {
    @apply border-2 bg-transparent border-slate-400 px-3 py-3 text-base text-slate-500 hover:border-slate-300 focus:border-white transition-all duration-300;
}

input[type="submit"] {
    @apply text-xs tracking-widest bg-white border-0 text-black w-fit px-6 py-4 uppercase font-bold cursor-pointer self-end hover:bg-slate-300 transition-all duration-300;
}

article > * a {
    @apply underline underline-offset-4;
}

article ul {
    @apply list-disc list-inside;
}

article ul > ul {
    @apply ml-4 list-none;
}
