@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Glamour";
    src: url("../GlamourAbsolute_Regular.otf");
}

@font-face {
    font-family: "ApercuPro";
    font-weight: 400;
    src: url("../ApercuPro-Regular.ttf");
    src: url("../ApercuPro-Regular.woff");
    src: url("../ApercuPro-Regular.woff2");
}
@font-face {
    font-family: "ApercuPro";
    font-weight: 700;
    src: url("../ApercuPro-Bold.ttf");
    src: url("../ApercuPro-Bold.woff");
    src: url("../ApercuPro-Bold.woff2");
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply font-glamour text-white;
}

h2 {
    @apply text-3xl;
}

hr {
    @apply border-slate-700 border;
}

.anchor {
    @apply underline underline-offset-4 transition-all ease-in-out;
}

.anchor:hover {
    @apply opacity-80 transition-all ease-in-out underline-offset-2;
}
