---
import { slugOptions } from "@lib/slug";

export async function getStaticPaths() {
    const essays = await Astro.glob("../../content/essays/*.mdx");

    let tagsArr = [];

    essays.forEach((essay) => {
        essay.frontmatter.tags &&
            essay.frontmatter.tags.forEach((tag) => {
                tagsArr.push(tag);
            });
    });

    let tagSet = [...new Set(tagsArr)];

    return tagSet.map((tag) => ({
        params: {
            tags: slugOptions(tag),
        },
        props: essays,
    }));
}

const essays = await Astro.glob("../../content/essays/*.mdx");
const { tags: tag } = Astro.params;

const filteredEssays = essays.filter((essay) => {
    return essay.frontmatter.tags?.map((tag) => slugOptions(tag)).includes(tag);
});
---

<div class="flex"><p>Tag:</p><p>{tag}</p></div>
<hr />

{
    filteredEssays.map((essay) => {
        return <p>{essay.frontmatter.title}</p>;
    })
}
