---
import BackButton from "@components/BackButton.astro";
import EssayList from "@components/EssayList.astro";
import Tag from "@components/Tag.astro";
import { slugOptions } from "@lib/slug";
import BaseLayout from "src/layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const essays = await Astro.glob("../../content/essays/*.mdx");

    let tagsArr = [];

    essays.forEach((essay) => {
        essay.frontmatter.tags &&
            essay.frontmatter.tags.forEach((tag) => {
                tagsArr.push(tag);
            });
    });

    let tagSet = [...new Set(tagsArr)];

    return tagSet.map((tag) => ({
        params: {
            tags: slugOptions(tag),
        },
        props: essays,
    }));
}

const essays = await Astro.glob("../../content/essays/*.mdx");
const { tags: tag } = Astro.params;

const filteredEssays = essays.filter((essay) => {
    return essay.frontmatter.tags?.map((tag) => slugOptions(tag)).includes(tag);
});
---

<BaseLayout>
    <main slot="main" class="w-full">
        <div class="flex flex-col gap-8 w-full">
            <div class="flex flex-col gap-2">
                <div class="flex gap-2 items-center">
                    <h1 class="text-4xl text-white">Tag:</h1>
                    <Tag tag={tag} />
                </div>
            </div>
            <BackButton href="tags" text="view all tags" />
            <div class="flex flex-col gap-4">
                <EssayList essays={filteredEssays} isIndex={false} />
            </div>
        </div>
    </main>
</BaseLayout>
