---
import Tag from "@components/Tag.astro";
import BaseLayout from "src/layouts/BaseLayout.astro";
---

<BaseLayout>
    <main slot="main" class="w-full">
        <div class="flex flex-col gap-8 max-w-lg">
            <div class="flex flex-col gap-2">
                <h1 class="text-4xl text-white">About</h1>
            </div>
            <div class="flex flex-col gap-8">
                <div class="card-dark">
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing
                        elit. Possimus, similique saepe! Ipsam voluptates
                        quisquam, nam laudantium eum aspernatur accusamus eius
                        explicabo amet doloremque et, quo neque obcaecati, ea
                        nemo saepe!
                    </p>
                </div>
                <div class="card-outline flex flex-col gap-8">
                    <h2>Yes</h2>
                    <div class="flex gap-4 flex-wrap">
                        <Tag tag="Jane Smith" />
                        <Tag tag="William Davis" />
                        <Tag tag="William Davis" />
                        <Tag tag="Ella Lewis" />
                        <Tag tag="Emily Brown" />
                        <Tag tag="Sophia Hernandez" />
                        <Tag tag="Christopher White" />
                    </div>
                    <h2>No</h2>
                </div>
            </div>
        </div>
    </main>
</BaseLayout>
