---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main slot="main">
        <div class="flex flex-col gap-8 max-w-lg">
            <h1 class="text-4xl text-white">Message received</h1>
            <p>Thanks for reaching out, I'll get back to you ASAP :)</p>
        </div>
    </main>
</BaseLayout>
