---
import ProjectsPageItem from "../components/ProjectsPageItem.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

let exampleProjectData = [
    {
        name: "Bookstop",
        date: "May 2023",
        description:
            "A novel app to help people create and stick to new routines to improve their health and lives—especially those with ADHD.",
        status: "Active",
    },
];
---

<BaseLayout>
    <main slot="main">
        <div class="flex flex-col gap-8 max-w-lg">
            <div class="flex flex-col gap-2">
                <h1 class="text-4xl text-white">Projects</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="border-l-2 border-dashed border-slate-700">
                {
                    exampleProjectData.map(
                        ({ name, date, description, status }) => {
                            return (
                                <ProjectsPageItem
                                    name={name}
                                    date={date}
                                    description={description}
                                    status={status}
                                />
                            );
                        }
                    )
                }
            </div>
        </div>
    </main>
</BaseLayout>
