---
function getBreadcrumbLinks(url) {
    let paths = url.split("/");
    paths.shift();
    let pathHolder = "";

    return paths.map((path, index) => {
        pathHolder = pathHolder += `/${path}`;
        return {
            url: pathHolder,
            text: path.split("-").join(" "),
        };
    });
}

const breadcrumbs = getBreadcrumbLinks(Astro.url.pathname);
---

<>
    <a class="capitalize text-slate-400" href="/">Index</a>
    <span class="text-slate-700"> /</span>
    {
        breadcrumbs.map((crumb, index) => {
            return (
                <>
                    <a class="capitalize text-slate-400" href={crumb.url}>
                        {crumb.text}
                    </a>
                    {index < breadcrumbs.length - 1 && (
                        <span class="text-slate-700"> /</span>
                    )}
                </>
            );
        })
    }
</>
