---
import slugify from "slugify";
import { slugOptions } from "@lib/slug";
import { dateOptionsDayMonth } from "@lib/dateOptions";

const { essay } = Astro.props;
---

<a
    class="flex gap-6 grow-0 justify-between min-w-0"
    href={`essays/${slugOptions(essay.frontmatter.title)}`}
>
    <p class="text-slate-400 grow shrink-0">
        {dateOptionsDayMonth(essay.frontmatter.pubDate)}
    </p>

    <p
        class="hover:translate-x-1 transition-all ease-out duration-300 overflow-hidden text-ellipsis whitespace-nowrap"
    >
        {essay.frontmatter.title}
    </p>
</a>
