---
//@ts-nocheck
import EssayListItem from "./EssayListItem.astro";
import className from "classnames";
import Button from "./Button.astro";
import H4 from "./H4.astro";
import Badge from "@components/Badge.astro";

const { essays, isIndex } = Astro.props;

const essayList = {
    featured: [],
    notFeatured: [],
};

essays.forEach((essay) => {
    essay.frontmatter.isFeatured
        ? essayList.featured.push(essay)
        : essayList.notFeatured.push(essay);
});
---

<div class="flex flex-col gap-8 card-outline">
    <!-- class={className(
        "flex flex-col gap-8 card-outline",
        !url[1] ? "order-3" : ""
    )} -->

    {isIndex && <h2>Essays</h2>}
    {essayList.featured[0] && <H4 text="FEATURED ESSAYS" />}
    {
        essayList.featured.map((essay) => {
            return <EssayListItem essay={essay} />;
        })
    }

    {essayList.featured[0] && <H4 text="LATEST ESSAYS" />}
    {
        essayList.notFeatured.map((essay) => {
            return <EssayListItem essay={essay} />;
        })
    }
    {
        isIndex && (
            <Button
                style="naked"
                text="VIEW ESSAYS →"
                href="/essays"
                extraClasses="self-end"
            />
        )
    }
</div>
