---
import { Image } from "@astrojs/image/components";
import Icon from "./Icon.astro";
import portrait from "../images/portrait.jpg";
import TagCloud from "./TagCloud.astro";
---

<div
    class="w-96 items-center lg:items-end lg:w-52 h-fit flex flex-row lg:flex-col gap-8"
>
    <div class="relative">
        <Image
            src={portrait}
            alt="Portrait photo of the author, Charlie Coppinger"
            width={400}
            format="avif"
        />
        <div class="absolute -top-4 -right-3">
            <svg
                width="12"
                height="15"
                viewBox="0 0 12 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M1.87135 10.1523C1.87135 9.13379 2.02975 7.95346 1.7358 6.95734C1.60909 6.52793 1.4391 6.30856 1 6.27478"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                <path
                    d="M6 9.8493C7.32924 7.62193 8.85653 5.53465 9.97915 3.18834C10.1194 2.89513 10.2687 2.60351 10.3664 2.29279C10.3939 2.2055 10.4348 1.95458 10.4874 2.00718"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                <path
                    d="M6 14C7.19901 12.719 9.46005 13.0343 11 13.0343"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"></path>
            </svg>
        </div>
    </div>
    <ul class="flex flex-col gap-4 place-items-end">
        <li>
            <a
                class="flex gap-2 items-center justify-center"
                href="https://github.com/coppinger/"
                target="_blank"
                ><Icon iconName="github" iconSize="24px" />
                <span class="anchor text-slate-400 text-sm">GitHub</span> →</a
            >
        </li>
        <li>
            <a
                class="flex gap-2 items-center justify-center"
                href="https://twitch.tv/thecoppinger"
                target="_blank"
                ><Icon iconName="twitch" iconSize="24px" />
                <span class="anchor text-slate-400 text-sm">Twitch</span> →</a
            >
        </li>
        <li>
            <a
                class="flex gap-2 items-center justify-center"
                href="https://twitter.com/thecoppinger"
                target="_blank"
                ><Icon iconName="code" iconSize="24px" />
                <span class="anchor text-slate-400 text-sm">Twitter</span> →</a
            >
        </li>
    </ul>
    <TagCloud />
</div>
