---
import { Image } from "@astrojs/image/components";
import Icon from "./Icon.astro";
import portrait from "../images/portrait.jpg";
---

<div
    class="w-96 items-center lg:items-end lg:w-52 h-fit flex flex-row lg:flex-col gap-16"
>
    <div class="relative">
        <Image
            src={portrait}
            alt="Portrait photo of the author, Charlie Coppinger"
            width={400}
            format="avif"
        />
        <div class="absolute -top-4 -right-3">
            <svg
                width="12"
                height="15"
                viewBox="0 0 12 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M1.87135 10.1523C1.87135 9.13379 2.02975 7.95346 1.7358 6.95734C1.60909 6.52793 1.4391 6.30856 1 6.27478"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                <path
                    d="M6 9.8493C7.32924 7.62193 8.85653 5.53465 9.97915 3.18834C10.1194 2.89513 10.2687 2.60351 10.3664 2.29279C10.3939 2.2055 10.4348 1.95458 10.4874 2.00718"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                <path
                    d="M6 14C7.19901 12.719 9.46005 13.0343 11 13.0343"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"></path>
            </svg>
        </div>
        <div class="absolute right-0 -bottom-10">
            <svg
                width="81"
                height="31"
                viewBox="0 0 81 31"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M70.5098 20.001C72.7177 20.2431 74.7688 20.1068 76.1478 18.1471C76.9828 16.9606 77.3295 15.4309 77.1768 13.9972C76.8433 10.8657 74.8939 7.91242 73.265 5.30627"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                <path
                    d="M70.2036 8.82695C71.5886 7.25736 72.4221 6.16498 72.117 4.0903C71.9881 3.21381 71.738 2.45875 71.4282 1.63269"
                    stroke="white"
                    stroke-width="3"
                    stroke-linecap="round"></path>
                <path
                    d="M72.1936 2.24487C74.1755 5.34174 76.6332 6.63244 80.0002 4.38786"
                    stroke="white"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                <path
                    d="M3.74806 29.7526C3.7501 29.7725 3.77408 29.8102 3.79602 29.8281C3.8399 29.8638 3.87969 29.8597 3.93938 29.8536C4.37503 29.7887 4.83058 29.7218 5.28204 29.6151C5.43916 29.5789 5.2761 27.4042 5.25158 27.1654C5.24125 26.2819 5.1211 24.525 5.09087 23.6434C5.08883 23.6235 5.08474 23.5837 5.1026 23.5618C5.12045 23.5399 5.16024 23.5358 5.18013 23.5337C5.61374 23.449 6.05757 23.4637 6.47333 23.4009C6.69014 23.3585 7.3013 23.4365 7.29054 23.136C7.26398 22.8774 7.2073 22.5213 7.12105 22.2688C7.09298 22.1913 7.06491 22.1137 7.01899 22.0581C6.90521 21.9291 6.70421 21.9296 6.54505 21.946C6.28436 21.9526 5.0886 22.0553 5.04268 21.9997C5.01665 21.9421 4.92049 20.2229 4.85101 19.5465C4.79938 18.8481 4.82734 18.1416 4.71602 17.4493C4.70785 17.3697 4.69967 17.2901 4.65375 17.2345C4.58181 17.1213 4.43845 17.0958 4.31499 17.0683C4.04818 17.0153 3.15848 16.9659 3.00954 17.0817C2.85855 17.1777 2.99589 17.9276 3.01428 18.1066C3.03321 18.4867 3.07204 18.8647 3.11086 19.2427C3.19777 20.4803 3.23251 20.8185 3.27963 22.0602C3.28167 22.0801 3.28576 22.1199 3.26791 22.1418C3.18069 22.2714 1.63294 22.4706 1.13352 22.5018C1.03404 22.512 0.896816 22.5462 0.847347 22.6518C0.833583 22.7136 0.863696 22.811 0.889721 22.8686C1.0377 23.1349 1.18364 23.3813 1.36937 23.6236C1.41733 23.6991 1.4653 23.7746 1.54897 23.8062C1.72039 23.9092 2.25552 23.8341 2.93605 23.8044C3.23652 23.7937 3.36762 23.6998 3.38246 24.0401C3.43764 24.5772 3.54089 25.974 3.57617 26.5132C3.62275 27.5539 3.69126 28.6124 3.73988 29.673L3.74806 29.7526ZM10.9761 23.3003C10.7727 23.864 10.3142 25.0772 10.2469 25.2048C10.0904 22.5066 10.1314 19.9692 9.85549 17.2833C9.83506 17.0844 9.81462 16.8854 9.66105 16.7604C9.50748 16.6355 9.20905 16.6661 9.00601 16.6468C8.74124 16.6137 8.48055 16.6203 8.22396 16.6668C8.18417 16.6709 8.14642 16.6949 8.12857 16.7168C8.11072 16.7387 8.11276 16.7586 8.1148 16.7785C8.27744 19.5363 8.68919 26.8727 8.70361 27.796C8.70265 28.1781 8.67974 28.5424 8.69868 28.9224C8.74117 29.9233 10.0792 29.4441 10.4041 28.888C10.5387 28.6329 10.6315 28.362 10.7044 28.0931C10.9905 27.159 11.3582 26.2366 11.7697 25.3499C11.8707 25.1586 12.0405 24.6587 12.1809 25.0463C12.2452 25.281 12.2738 25.5595 12.3182 25.7962C12.5055 26.6415 12.8082 27.4347 13.3016 28.128C13.797 28.8411 14.4521 28.9547 15.3346 28.5424C15.2647 28.4491 15.2147 28.3537 15.1269 28.2823C14.5662 27.7166 14.2712 26.8019 14.0522 26.0403C13.823 25.1792 13.751 24.2819 13.5417 23.4188C13.4855 23.2637 13.4473 23.0867 13.3513 22.9357C13.1176 22.6179 12.5963 22.6313 12.232 22.6084C11.8499 22.6074 11.4102 22.6325 11.1623 22.9595C11.073 23.0692 11.0236 23.1748 10.9761 23.3003ZM22.4348 27.3306L22.4108 27.2928C21.8311 26.3471 21.2591 25.28 21.5008 24.1092C21.5303 24.0056 21.538 23.8842 21.5476 23.7827C21.6098 23.2133 21.322 22.7604 20.9312 22.4788C20.2832 22.0428 19.5644 21.8954 18.835 22.2317C18.3937 22.4379 18.0045 22.7593 17.6832 23.1542C16.862 24.1634 16.4235 25.3746 16.3813 26.7259C16.3681 26.9887 16.4385 27.283 16.5268 27.5554C16.6876 28.1421 17.1182 28.4195 17.6835 28.4419C18.0079 28.4689 18.3242 28.4163 18.6446 28.4035C19.1838 28.3682 19.621 28.1222 20.002 27.7212C20.1667 27.5636 20.3228 27.1253 20.6095 27.1763C20.713 27.2059 20.8988 27.4482 21.0064 27.5175C21.136 27.6047 21.2615 27.6522 21.4049 27.6776C21.7354 27.7643 22.0895 27.6877 22.3736 27.5178C22.4491 27.4699 22.4828 27.4061 22.4348 27.3306ZM18.3338 27.5307C18.0986 27.394 18.0271 26.6976 18.0245 26.4768C17.9743 25.5973 18.1829 24.6912 18.7363 24.0111C18.8791 23.8356 19.5559 23.183 19.7203 23.6085C19.9086 24.0717 19.8005 24.5854 19.7322 25.095C19.644 25.6067 19.5559 26.1184 19.3641 26.6005C19.1821 26.9811 18.8827 27.3939 18.495 27.5342C18.4373 27.5602 18.3756 27.5465 18.3338 27.5307ZM24.9451 27.5754C24.9472 27.5953 24.9712 27.633 24.9931 27.6509C25.037 27.6866 25.0768 27.6825 25.1364 27.6764C25.5721 27.6115 26.0277 27.5446 26.4791 27.4379C26.6362 27.4017 26.4732 25.227 26.4487 24.9882C26.4383 24.1046 26.3182 22.3477 26.2879 21.4662C26.2859 21.4463 26.2818 21.4065 26.2997 21.3846C26.3175 21.3626 26.3573 21.3585 26.3772 21.3565C26.8108 21.2718 27.2546 21.2865 27.6704 21.2237C27.8872 21.1813 28.4984 21.2593 28.4876 20.9588C28.461 20.7002 28.4044 20.3441 28.3181 20.0916C28.29 20.014 28.262 19.9365 28.2161 19.8809C28.1023 19.7518 27.9013 19.7524 27.7421 19.7687C27.4814 19.7754 26.2857 19.8781 26.2398 19.8225C26.2137 19.7649 26.1176 18.0457 26.0481 17.3693C25.9965 16.6709 26.0244 15.9643 25.9131 15.2721C25.9049 15.1925 25.8967 15.1129 25.8508 15.0573C25.7789 14.9441 25.6355 14.9186 25.5121 14.8911C25.2453 14.838 24.3556 14.7887 24.2066 14.9045C24.0556 15.0004 24.193 15.7503 24.2114 15.9294C24.2303 16.3095 24.2691 16.6875 24.3079 17.0655C24.3948 18.3031 24.4296 18.6413 24.4767 19.883C24.4787 19.9029 24.4828 19.9427 24.465 19.9646C24.3778 20.0942 22.83 20.2934 22.3306 20.3246C22.2311 20.3348 22.0939 20.369 22.0444 20.4746C22.0307 20.5363 22.0608 20.6338 22.0868 20.6914C22.2348 20.9577 22.3807 21.2041 22.5664 21.4463C22.6144 21.5218 22.6624 21.5973 22.746 21.6289C22.9175 21.732 23.4526 21.6569 24.1331 21.6272C24.4336 21.6165 24.5647 21.5226 24.5795 21.8628C24.6347 22.4 24.738 23.7968 24.7732 24.336C24.8198 25.3767 24.8883 26.4352 24.937 27.4958L24.9451 27.5754ZM28.9997 14.6937C29.1844 15.3181 29.3835 16.0817 29.4402 16.4378C29.505 16.8735 29.5377 17.1918 29.5011 17.6178C29.4776 17.781 29.4109 18.1095 29.5384 18.1769C29.7139 18.3197 30.0797 18.1615 30.2745 18.1013C30.6025 17.967 30.8387 17.7216 30.9315 17.4507C31.0539 17.0763 31.0589 16.734 30.9824 16.3799C30.8792 15.7673 30.798 15.1724 30.4204 14.6282C30.3245 14.4772 30.1689 14.3323 29.9658 14.313C29.8444 14.3053 29.7251 14.3176 29.6276 14.3477C29.3909 14.3921 28.9395 14.4988 28.9997 14.6937ZM33.4232 24.8147L33.4273 24.8545C33.4728 25.4932 33.8106 26.0415 34.3687 26.3863C34.8432 26.6994 35.4146 26.7815 35.9538 26.7462C36.2124 26.7196 36.5109 26.689 36.7654 26.6226C37.197 26.518 37.7708 26.0368 37.9034 25.7619C38.0697 25.4231 38.2614 24.941 38.1609 24.5492C38.1226 24.3722 38.0246 24.2013 37.9108 24.0723C37.6593 23.7764 37.3343 23.5484 36.9716 23.3444C36.6307 23.1583 35.3278 22.6085 35.116 22.3086C35.0701 22.253 35.042 22.1755 35.0139 22.0979C34.9476 21.8434 35.2592 21.55 35.4699 21.4479C35.6984 21.3239 36.0642 21.1657 36.3172 21.2805C36.5662 21.3554 36.5673 21.7574 36.6296 21.9722C36.7 22.2665 37.1178 22.2236 37.3606 22.2389C37.5616 22.2383 37.9019 22.2235 37.9988 21.9924C38.0641 21.8449 37.9232 21.2563 37.7471 20.9124C37.6951 20.7972 37.6252 20.7038 37.5374 20.6324C37.2701 20.3784 36.7783 20.2882 36.414 20.2653C35.4866 20.2399 34.4684 20.5053 33.8354 21.1936C33.7283 21.3252 33.6411 21.4548 33.5758 21.6023C33.1703 22.5486 34.2872 23.4392 35.0484 23.8033C35.4927 24.0191 35.9667 24.1312 36.3616 24.4525C36.5371 24.5954 36.8024 24.8295 36.6438 25.0468C36.5209 25.2203 36.3081 25.3025 36.1153 25.3826C35.8052 25.4949 35.1925 25.598 34.994 25.0353C34.9659 24.9578 34.8975 24.6833 34.8455 24.5681C34.7454 24.3773 34.0052 24.4131 33.6333 24.5116C33.4385 24.5718 33.4069 24.6555 33.4232 24.8147ZM53.7342 24.5178C53.726 24.4382 53.6403 24.3867 53.5505 24.2954C53.353 24.1348 53.2668 23.8823 53.2004 23.6277C53.104 23.2757 53.0274 22.9217 52.9687 22.5457C52.8334 21.8157 52.7756 21.0577 52.7796 20.3134C52.7902 19.8297 53.0069 19.0033 52.3121 18.8937L52.0672 18.8585C51.8443 18.8412 51.6014 18.8259 51.3887 18.9081C51.1005 19.0382 51.0077 19.3091 50.9149 19.58C50.7884 19.9147 50.6421 20.2514 50.4937 20.5683C50.4085 20.7177 50.3432 20.8652 50.256 20.9948C50.2045 21.0805 50.1708 21.1443 50.1193 21.23L50.0005 21.4432C49.9862 21.304 49.9795 21.0433 49.9611 20.8642C49.9626 20.6831 49.9422 20.4842 49.9437 20.3031C49.913 20.0046 49.8982 19.6644 49.5498 19.5996C48.9544 19.4798 48.2963 19.7284 48.023 20.1988C47.6864 20.8365 47.4554 21.5237 47.055 22.1278C47.0045 21.8314 47.0335 21.5268 47.0227 21.2263L46.9843 20.2652C46.9736 19.9648 46.9684 19.523 46.5843 19.5021C46.3414 19.4869 46.0966 19.4517 45.8537 19.4364C45.5094 19.4115 45.3303 19.4299 45.3452 19.7701C45.3488 20.393 45.3525 21.0159 45.374 21.6168C45.4349 22.7968 45.5356 23.9727 45.5964 25.1526C45.6026 25.2123 45.6067 25.2521 45.6306 25.2899C45.6567 25.3475 45.7006 25.3832 45.7444 25.4189C45.8939 25.5041 46.075 25.5056 46.2342 25.4892C46.4331 25.4688 46.6341 25.4683 46.8331 25.4478C46.8928 25.4417 46.9723 25.4335 47.0101 25.4095C47.1055 25.3595 47.1351 25.256 47.1667 25.1723C47.52 24.1106 47.9571 23.0806 48.4579 22.0842C48.5568 21.873 48.6141 22.4301 48.6825 22.7045C48.7748 23.0167 48.8295 23.3529 49.0351 23.5931C49.129 23.7242 49.2586 23.8114 49.4239 23.8548C49.5912 23.918 49.8718 23.9093 50.0488 23.871C50.2258 23.8327 50.287 23.6455 50.3742 23.5159C50.4772 23.3445 50.5165 23.1394 50.5976 22.9501C50.6945 22.719 50.7893 22.468 50.9061 22.2348C51.005 22.0236 51.0999 21.7726 51.2407 21.5772C51.326 22.2118 51.4291 22.8245 51.572 23.4331C51.6808 23.9044 51.8155 24.4334 52.2839 24.6869C52.7323 24.9424 53.7888 24.854 53.7342 24.5178ZM56.3692 22.0758C56.4248 22.0299 57.3094 21.6375 57.5797 21.5293C58.1164 21.2731 58.6729 21.0149 59.2315 20.7766C59.4044 20.6985 59.5931 20.5786 59.5824 20.2781C59.5659 19.3348 58.8725 18.2601 57.9486 18.0735C57.3512 17.9338 56.7125 17.9793 56.2299 18.3706C55.9876 18.5564 55.7515 18.8018 55.577 19.061C55.2282 19.5793 54.9849 20.1472 54.8054 20.7486C54.577 21.6567 54.6098 22.7591 55.2487 23.4977C55.8436 24.2006 56.7941 24.6458 57.7291 24.5498C58.8035 24.4395 59.7405 23.5792 59.9944 22.5278C60.0556 22.3405 60.0413 22.2013 59.8183 22.184C59.6153 22.1646 58.9725 22.1703 58.8236 22.2861C58.7282 22.3361 58.6808 22.4616 58.669 22.5433C58.5487 22.9376 58.1197 23.2632 57.754 23.4214C57.5611 23.5015 57.2627 23.5321 57.0714 23.4312C56.7964 23.2986 56.5709 23.0604 56.4408 22.7721C56.3627 22.5992 56.2667 22.4482 56.2463 22.2493C56.2381 22.1697 56.2937 22.1238 56.3692 22.0758ZM57.757 20.1238C57.8881 20.0299 56.1614 21.0316 56.1492 20.9122C56.1619 20.4485 56.3159 19.9903 56.5796 19.6215C56.7183 19.4062 56.9187 19.2046 57.1473 19.0806C57.4135 18.9327 57.7339 18.9198 57.9416 19.18C58.0094 19.2534 58.2273 19.6131 58.2018 19.7564C58.1983 19.9176 57.8902 20.0498 57.757 20.1238Z"
                    fill="white"></path>
            </svg>
        </div>
    </div>
    <ul class="flex flex-col gap-4 place-items-end">
        <li>
            <a class="flex gap-2 items-center justify-center" href="#"
                ><Icon iconName="github" iconSize="24px" />
                <span class="anchor text-slate-400 text-sm">GitHub</span> →</a
            >
        </li>
        <li>
            <a class="flex gap-2 items-center justify-center" href="#"
                ><Icon iconName="twitch" iconSize="24px" />
                <span class="anchor text-slate-400 text-sm">Twitch</span> →</a
            >
        </li>
        <li>
            <a class="flex gap-2 items-center justify-center" href="#"
                ><Icon iconName="code" iconSize="24px" />
                <span class="anchor text-slate-400 text-sm">Twitter</span> →</a
            >
        </li>
    </ul>
</div>
