---
import { dateOptionsDayMonthYear } from "@lib/dateOptions";

import Icon from "./Icon.astro";

const { Content, author, note, date } = Astro.props;
---

<div class="flex flex-col gap-4">
    <div class="flex flex-col gap-2 card-dark">
        <Content />
        <p class="text-slate-400">— {author}</p>
    </div>
    <div class="flex flex-col gap-2 items-end text-right">
        {note && <p class="text-sm">{note}</p>}
        {
            date && (
                <div class="flex gap-2 items-center">
                    <Icon iconName="calendar" color="slate" iconSize="16px" />
                    <p class="text-sm text-slate-400">
                        {dateOptionsDayMonthYear(date)}
                    </p>
                </div>
            )
        }
    </div>
</div>
