---
import { Image } from "@astrojs/image/components";
const { team_member_name, team_member_bio, team_member_image } = Astro.props;
---

<div class="flex flex-col p-8 gap-4 border-2 border-slate-700">
    <Image src={team_member_image} width={400} aspectRatio="1" />
    <p>Test</p>
    <p>{team_member_name}</p>
    <p>{team_member_bio}</p>
</div>
