---
import className from "classnames";

const { text, href, yes } = Astro.props;
---

{
    href ? (
        <a
            href={href}
            target="_blank"
            class={className(
                `flex p-2 border-2 text-xs text-slate-300 w-fit uppercase tracking-widest font-bold h-fit ` +
                    (yes ? "border-emerald-900" : "border-rose-900")
            )}
        >
            {text} ↗
        </a>
    ) : (
        <div
            class={className(
                `flex p-2 border-2 text-xs text-slate-300 w-fit uppercase tracking-widest font-bold h-fit ` +
                    (yes ? "border-green-900" : "border-rose-900")
            )}
        >
            {text}
        </div>
    )
}
