---
import slugify from "slugify";

import BaseLayout from "../../layouts/BaseLayout.astro";
import H4 from "../../components/H4.astro";
import Badge from "../../components/Badge.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob("../../content/projects/*.mdx");

    return posts.map((post) => ({
        params: { slug: slugify(post.frontmatter.title).toLowerCase() },
        props: { post },
    }));
}

const { Content, frontmatter } = Astro.props.post;

let contentArr = Object.entries(frontmatter);
contentArr.shift();

let projectStatus = contentArr.pop();
---

<BaseLayout>
    <main slot="main">
        <div class="flex flex-col gap-4">
            <a href="/projects"><-- back to projects</a>
            <h1>{frontmatter.title}</h1>
            <p>Started {frontmatter.date}</p>
            {frontmatter.status ? <Badge text={frontmatter.status} /> : ""}
            <div class="flex flex-col gap-8">
                {
                    contentArr.map((item) => {
                        return (
                            <>
                                <H4 text={item[0].split("_").join(" ")} />
                                {item[1]}
                            </>
                        );
                    })
                }
            </div>
        </div>
    </main>
</BaseLayout>
