---
import slugify from "slugify";
import { dateOptionsMonthYear } from "@lib/dateOptions";

import BaseLayout from "../../layouts/BaseLayout.astro";
import H4 from "../../components/H4.astro";
import Badge from "../../components/Badge.astro";
import BackButton from "@components/BackButton.astro";

export async function getStaticPaths() {
    const posts = await Astro.glob("../../content/projects/*.mdx");

    return posts.map((post) => ({
        params: { slug: slugify(post.frontmatter.title).toLowerCase() },
        props: { post },
    }));
}

const { Content, frontmatter } = Astro.props.post;

let projectArr = Object.entries(frontmatter);
---

<BaseLayout>
    <main slot="main">
        <div class="flex gap-8">
            <article class="flex flex-col gap-4 max-w-lg">
                <BackButton href="projects" text="back to projects" />

                <h1>{frontmatter.title}</h1>
                <p class="text-slate-400 mb-8">
                    Started {dateOptionsMonthYear(frontmatter.date)}
                </p>
                <div class="flex flex-col gap-8">
                    <!-- {
                        projectArr
                            .filter(([key]) => key[0] !== ".")
                            .map(([key, value]) => {
                                return (
                                    <div>
                                        <H4 text={key.split("_").join(" ")} />
                                        <Markdown>{value}</Markdown>
                                    </div>
                                );
                            })
                    } -->
                    <Content />
                </div>
            </article>
        </div>
    </main>
</BaseLayout>
