---
import slugify from "slugify";

export async function getStaticPaths() {
    const posts = await Astro.glob("../../content/projects/*.md");

    return posts.map((post) => ({
        params: { slug: slugify(post.frontmatter.title).toLowerCase() },
        props: { post },
    }));
}

const { Content, frontmatter } = Astro.props.post;

import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <main slot="main">
        <Content />
    </main>
</BaseLayout>
