---
import MobileMenu from "@components/layout/side-menu/MobileMenu.astro";
import BaseHead from "../components/BaseHead.astro";
import TopBar from "../components/TopBar.astro";
import SideMenu from "../components/layout/side-menu/SideMenu.astro";

import { SITE_DESCRIPTION } from "../consts";

const { title } = Astro.props;

let pathArr = Astro.url.pathname.split("/");

let formattedTitle =
    Astro.url.pathname !== "/"
        ? pathArr
              .slice(1)
              .map((page) => {
                  return page
                      .split("-")
                      .map((word) => {
                          return word.charAt(0).toUpperCase() + word.slice(1);
                      })
                      .join(" ");
              })
              .join(" • ") + " Aroreretini"
        : "Aroreretini • personal site of Charlie Coppinger";

const today = new Date();
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={formattedTitle} description={SITE_DESCRIPTION} />
    </head>
    <body class="bg-slate-950 text-slate-200 font-apercu">
        <MobileMenu />
        <div class="w-full h-3 bg-pink-500"></div>
        <div class="w-full h-3 bg-violet-700"></div>
        <div class="w-full h-3 bg-blue-900"></div>
        <div class="max-w-6xl p-4 md:p-8 mx-auto flex md:gap-8">
            <SideMenu />
            <div class="flex flex-col gap-8 w-full">
                <TopBar />
                <slot name="main" />
                <footer
                    class="flex flex-col justify-center text-center gap-8 max-w-lg border-t-2 border-slate-700 pt-8"
                >
                    <div
                        class="flex flex-col md:flex-row items-center gap-8 justify-center"
                    >
                        <a href="https://hotlinewebring.club/charlie/previous"
                            >← Prev</a
                        >
                        <div class="text-[#fa9aba]">
                            <p>Proud member of the</p>
                            <a
                                href="https://hotlinewebring.club/"
                                target="_blank"
                                class="underline anchor whitespace-nowrap"
                                >Hotline Webring ↗</a
                            >
                        </div>
                        <a href="https://hotlinewebring.club/charlie/next"
                            >Next →</a
                        >
                    </div>
                    <div class="text-slate-400">
                        &copy; {today.getFullYear()} Charlie Coppinger. All rights
                        reserved.
                    </div>
                    <p>Made with 💖 from Aotearoa 🥝</p>
                </footer>
            </div>
        </div>
    </body>
</html>
