---
const path = Astro.url.pathname;
---

<div class="h-14 flex justify-center items-center">
    {
        path !== "/" ? (
            <a href="/" class="text-5xl text-white font-glamour">
                Aroreretini
            </a>
        ) : (
            <h1 class="text-5xl text-white font-glamour">Aroreretini</h1>
        )
    }
</div>
