---
import Logo from "./Logo.astro";
import NavDivider from "./NavDivider.astro";
import NavItem from "./NavItem.astro";

const navContent = [
    ["./", "Index"],
    // ["health", "Health", "Health stats from my Oura ring"],
    ["about", "About", "A bunch of info about me"],
    // ["divider", "Creations"],
    ["contact", "Contact", "How to get ahold of me"],
    ["projects", "Projects", "Past & present"],
    ["essays", "Essays", "A collection of my writing"],
    // ["updates", "Updates", "What’s going on in my life"],
    // ["guides", "Guides", "Maps based on my experience"],
    // ["divider", "Credits"],
    ["people", "People", "Those whom I’m grateful to"],
    // ["prophets", "Prophets", "Those who’ve shaped my beliefs"],
    // ["divider", "Curation"],
    ["quotes", "Quotes", "A list of my favorite quotes"],
    // ["art", "Art", "A list of my favorite art"],
    // ["music", "Music", "A list of my favorite music"],
    // ["books", "Books", "A list of my favorite  books"],
    // ["games", "Games", "A list of my favorite games"],
    // ["tv", "TV", "A list of my favorite shows"],
    // ["poems", "Poems", "A list of my favorite poems"],
    // ["places", "Places", "A list of my favorite places"],
];
---

<div class="hidden md:flex flex-col gap-8">
    <Logo />

    <nav class="border-l-2 border-slate-700">
        <ul class="flex flex-col gap-8 ml-[-2px]">
            {
                navContent.map(([href, title, subTitle]) => {
                    if (href == "divider") return <NavDivider text={title} />;
                    else
                        return (
                            <NavItem
                                href={href}
                                title={title}
                                subTitle={subTitle}
                            />
                        );
                })
            }
        </ul>
    </nav>
</div>
