---
import Logo from "./Logo.astro";
import NavDivider from "./NavDivider.astro";
import NavItem from "./NavItem.astro";
import menuItems from "@lib/menuItems";
---

<div class="hidden md:flex flex-col gap-8">
    <Logo />

    <nav class="border-l-2 border-slate-700 md:sticky md:top-4" id="mobileMenu">
        <ul class="flex flex-col gap-8 ml-[-2px]">
            {
                menuItems().map(([href, title, subTitle]) => {
                    if (href == "divider") return <NavDivider text={title} />;
                    else
                        return (
                            <NavItem
                                href={href}
                                title={title}
                                subTitle={subTitle}
                            />
                        );
                })
            }
        </ul>
    </nav>
</div>
